* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Contains header, .content-wrapper, and footer */
.wrapper {
    width: 100px;
    min-width: 90%;
    margin: 0 auto;
    padding: .5rem;
    border: 1px solid black;
}

header {
    height: 6rem; 
    width: 100%;
    background-color: #480063;
}

/* Contains figure, section article, and button */
.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

figure {
    height: 6rem;
    width: 6rem;
    margin: 2rem 0;
    background-color: #480063;
    border-radius: 50%;
}

/* Contains article */
section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

article {
    flex: 45%;
    background-color: #FD96A9;
    height: 6rem;
}


article:nth-child(1) {
    background-color: #B2008A;
}

article:nth-child(4) {
    background-color: #B2008A;
}

button {
    width: 16rem;
    height: 4rem;
    margin: 3rem auto;
    background-color: #F42DAC;
    border: none;
    border-radius: 1.5rem;
}

footer {
    background-color: #C1C99A;
    height: 8rem;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .content-wrapper {
        align-items: center;
        padding: 0;
    }
    
    section {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    article {
        flex: none;
    }
    article:nth-child(1) {
        background-color: #FD96A9;
    }
    
    article:nth-child(2) {
        background-color: #B2008A;
    }
    button {
        margin: 1rem;
        width: 50%;
        border-radius: 2rem;
    }
}