* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Contains header, .content-wrapper, and footer */
.wrapper {
    width: 100px;
    min-width: 90%;
    margin: 0 auto;
    padding: .5rem;
    border: 1px solid black;
}

header {
    height: 6rem; 
    width: 100%;
    background-color: #480063;
}

/* Contains figure, section article, and button */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    margin: 1.5rem 0;
    height: 6rem;
    aspect-ratio: 1;
    background-color: #480063;
    border-radius: 50%;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

article {
    width: 100%;
    height: 6rem;
    background-color: #FD96A9;
}

article:nth-child(2n) {
    background-color: #B2008A;
}

button {
    width: 8rem;
    height: 4rem;
    background-color: #F42DAC;
    border: none;
    border-radius: 4rem;
    margin: 0.5rem 0;
}

footer {
    background-color: #C1C99A;
    height: 8rem;
    width: 100%;
}

@media screen and (min-width: 600px) {
    /* Contains figure, section article, and button */
    .content-wrapper {
        padding: 0 1rem;
    }
    
    figure {
        margin: 2rem 0;
        align-self: flex-start;
    }
    
    section {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    article {
        flex: 45%;
    }
    
    article:nth-child(1) {
        background-color: #B2008A;
    }
    
    article:nth-child(2) {
        background-color: #FD96A9;
    }
    
    button {
        margin: 3rem 0;
        width: 18rem;
        border-radius: 1.5rem;
    }
}